{% if error %}
<script>
    alert('{{ error }}');
</script>
{% endif %}
{% for application in applications %}
  <div class="content mb-3" id="application_{{ application.id }}">
    <div>
      <p><strong>Дата:</strong> {{ application.date }}</p>
      <p><strong>Класс:</strong> {{ application.grade }}</p>
      <p>
        <strong>Количество учеников:</strong>
        {{ application.students_number }}
      </p>
    </div>
    {% if application.can_be_updated_or_deleted %}
    <p>
      <a
        class="btn btn-outline-danger"
        hx-confirm="Вы действительно хотите удалить?"
        hx-delete="{% url 'main:delete_application_for_student_meals' application.pk %}"
        hx-target="#application_list"
      >
        Удалить</a
      >
    </p>
    {%endif%}
  </div>


{% empty %}
<div class="content">
  <p>Нет заявок!</p>
</div>
{% endfor %}

<div id="modal_form">
  {% include 'main/partials/application_for_student_meals_modal_form.html' %}
</div>