
<div class="masonry_grid" style="
    display: grid;
    grid-template-columns: repeat(5, 1fr);
">

    {% for el in schedule %}
    <div class="content flow">

        <p>{{ el.date }} </p>
        <p> {{ el.week_number }} неделя, {{ el.day_of_week }}</p>

       {% if el.menu %}
        {% for element in el.menu %}

            {% if element.dishes %}
            <h5>{{ element.meal_type }}</h5>

                {% for dish in element.dishes %}
                    {{ dish.form }}
                {% endfor %}

            {% else %}
            <div class="nomenu">
                <h3> ❌ </h3>
                <p> Нет меню на этот день! </p>

            </div>
            {% endif %}
        {% endfor %}
    {% else %}
    <div class="nomenu">
            <h3> ❌ </h3>
            <p> Нет меню на этот день! </p>

    </div>

    {% endif %}

    </div>
    {% endfor %}


</div>