<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% block modal-title %} {% endblock %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
      <div class="modal-body">
        {% block modal-body %}{% endblock %}
      </div>
      <div class="modal-footer">
        {% block modal-buttons %}{% endblock %}
      </div>
    </div>
  </div>
</div>

<script>
function showModal() {
    const myModalAlternative = new bootstrap.Modal('#staticBackdrop', options);
    myModalAlternative.show();
}
</script>