{% extends 'form_layout.html' %}

{% block navigation %}
<li class="breadcrumb-item"><a href="{% url 'contracts:all_contracts' %}">Все договоры</a></li>
{% endblock %}

{% block form_elements %}

    <p>
        {{ form.staff }}
    </p>

    <div class="input-group mb-3">
        <span class="input-group-text">{{ form.date.label }}</span>
            {{ form.date }}
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">{{ form.counterparty.label }}</span>
            {{ form.counterparty }}
    </div>
    <div>
        <h3>Состав договора: </h3>
        {% include 'contracts/partials/add_product_to_contract_form.html' %}
        <button class="btn btn-outline-secondary mt-3"
        hx-get="{% url 'contracts:add-product-to-contract' %}"
        hx-target="#formsetform"
        hx-swap="beforeend">Добавить продукт</button>
    </div>
    <div class="input-group mb-3 mt-3">

        {{ form.note }}
    </div>
{% endblock %}