{% extends 'layout.html' %}
{% block title %}{{title}}{% endblock %}
{% block content %}
{% load widget_tweaks %}
{% load static %}
<form method="post">
  {% csrf_token %}

    {% if form.errors %}<p>{{form.errors}}</p>{%endif%}
    {% if form.non_field_errors %}<p>{{form.non_field_errors}}</p>{%endif%}

    {% if formset.errors %}<p>{{formset.errors}}</p>{%endif%}
    {% if formset.non_field_errors %}<p>{{formset.non_field_errors}}</p>{%endif%}

    <div class="input-group my-3">
        <span class="input-group-text">{{ form.date.label }}</span>
        {{ form.date|add_class:"form-control" }}
    </div>

    <div class="mt-5">
            <table class="table table-sm table-bordered text-center">
    <thead class="">
        <tr>
            <th>Белки</th>
            <th>Жиры</th>
            <th>Углеводы</th>
            <th>Калории</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ form.proteins }}</td>
            <td>{{ form.fats }}</td>
            <td>{{ form.carbohydrates }}</td>
            <td>{{ form.calories }}</td>
        </tr>
    </tbody>
</table>

    </div>

<div class="mt-5">
      <h3> {{ formset_title }} </h3>
    {% include "partials/children_formset.html" with formset=formset %}
</div>

<div class="mt-5">
    <h3>Технология приготовления:</h3>
    {{ form.recipe }}
</div>

  <div class="input-group my-3">
    <button type="submit" class="btn btn-primary w-100">Сохранить</button>
  </div>
</form>


<script src="{% static 'main/js/childrenformset.js' %}"></script>
{% endblock %}
