{% extends 'layout.html' %}
{% block title %} {{ title }} {% endblock %}

{% block navigation %}{% endblock %}
{% block buttons %}
<a href="{% url 'export:tm' object.id %}" class="btn btn-outline-secondary">Экспорт</a>
{% endblock %}
{% block content%}

  <div class="row m-1">
      <div class="content col m-2 ">
        <h3>Состав на 100 гр.</h3>
          <table class="table table-sm">
            <tr>
              <th>Наименование сырья</th>
              <th>Расход продуктов на 100 гр</th>
            </tr>
          {% for el in object.composition.all %}
            <tr>
              <td>{{el.product}}</td>
              <td>{{el.volume}} гр</td>
            </tr>
          {%endfor%}
          </table>

      </div>
        <div class="content col  m-2">
        <h3>Технология приготовления:</h3>
        <div class="mt-3">
          <p>{{ object.recipe }}</p>
        </div>
      </div>
    </div>
  <div class="content col m-2">
    <h3 class="mb-3">КБЖУ на 100 гр.</h3>
    <table class="table table-sm">
      <tr>
        <th>Калории, ккал</th>
        <th>Белки, г</th>
        <th>Жиры, г</th>
        <th>Углеводы, г</th>
      </tr>
      <tr>
        <td>{{ object.calories }}</td>
        <td>{{ object.proteins }}</td>
        <td>{{ object.fats }}</td>
        <td>{{ object.carbohydrates }}</td>
      </tr>
    </table>
  </div>
  
{% endblock %}
