{% csrf_token %}
<div id="formsetform">
    <p>{{ form.product.errors }} {{ form.volume.errors }}</p>
    <p class="input-group mb-3">
        {{ form.product }} {{ form.volume }}

        <button type="button" class="btn-close"
        hx-on="click:this.closest('p').remove()"></button>
    </p>

</div>
<script>
document.querySelectorAll("#id_volume").forEach(input => {
    input.addEventListener("input", function () {
        let val = this.value.replace(/[^0-9.]/g, ""); // Удаляем всё, кроме цифр и точки
        let parts = val.split(".");

        if (parts[0].length > 6) {
            // Если целая часть > 6 цифр, переносим лишние в дробную
            parts[1] = (parts[1] || "") + parts[0].slice(6);
            parts[0] = parts[0].slice(0, 6);
        }

        if (parts[1] && parts[1].length > 3) {
            // Ограничиваем дробную часть 3 цифрами
            parts[1] = parts[1].slice(0, 3);
        }

        this.value = parts.join(".");
    });
});

</script>